@use "global" as *;

.c-profile {
    display: flex;
    justify-content: space-between;
    font-family: $en-font-second;

    @include mq(md) {
        display: block;
    }
}

.c-profile__name {
    font-size: clamp(11px, rem(12), 5vw);
}

.c-profile__date {
    font-size: clamp(11px, rem(12), 5vw);
    @include mq(md) {
        margin-top: rem(15);
    }
}

.c-profile__date h4,
.c-profile__name h4 {
    font-size: clamp(11px, rem(12), 5vw);
    font-weight: 400;

    @include mq(md) {
        font-size: clamp(12px, rem(14), 5vw);
    }
}
